# Core functionality - changes here should be rare!
/src/app.py                   @thisManHere
/src/backend/database.py      @thisManHere
/src/backend/routers/auth.py  @thisManHere

# The frontend will need refactored soon to be more object oriented.
/src/static/   @thisManHere
